In [36]:
import pandas as pd 
data = { 
    'Sections' : ['SECTION A', 'SECTION B' , 'SECTION C' , 'SECTION D'],
    'Courses' : ['BlockChain' , 'Data Analysis' , 'AI&ML' , 'Computer Intellignce'],
    'Students_Count' : [ 20 ,78,80,100], 
    'Staff' : ['Shreyas' , 'Usha' , 'Sumanth' , 'Raj'],
    'Feedback' : ['Best ' , 'Average' , 'Excellent' , 'Worst']
    }
df = pd.DataFrame(data)
print(df)

    Sections               Courses  Students_Count    Staff   Feedback
0  SECTION A            BlockChain              20  Shreyas      Best
1  SECTION B         Data Analysis              78     Usha    Average
2  SECTION C                 AI&ML              80  Sumanth  Excellent
3  SECTION D  Computer Intellignce             100      Raj      Worst

In [ ]:
df.info()

In [8]:
df.loc[2,'Students_Count']=None
df

    Sections               Courses  Students_Count    Staff   Feedback
0  SECTION A            BlockChain            20.0  Shreyas      Best
1  SECTION B         Data Analysis            78.0     Usha    Average
2  SECTION C                 AI&ML             NaN  Sumanth  Excellent
3  SECTION D  Computer Intellignce           100.0      Raj      Worst

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sections        4 non-null      object
 1   Courses         4 non-null      object
 2   Students_Count  3 non-null      float64
 3   Staff           4 non-null      object
 4   Feedback        4 non-null      object
dtypes: float64(1), object(4)
memory usage: 292.0+ bytes

In [12]:
df.describe()

       Students_Count
count        3.000000
mean        66.000000
std         41.327957
min         20.000000
25%         49.000000
50%         78.000000
75%         89.000000
max        100.000000

In [20]:
df.fillna(df['Students_Count'].mean(),inplace=True)
df

    Sections               Courses  Students_Count    Staff   Feedback
0  SECTION A            BlockChain            20.0  Shreyas      Best
1  SECTION B         Data Analysis            78.0     Usha    Average
2  SECTION C                 AI&ML            66.0  Sumanth  Excellent
3  SECTION D  Computer Intellignce           100.0      Raj      Worst

In [29]:
df.loc[df['Students_Count'] > 20, ['Courses', 'Feedback']]

                Courses   Feedback
1         Data Analysis    Average
2                 AI&ML  Excellent
3  Computer Intellignce      Worst